.botones{
	-fx-font-family:"Alien League";
	-fx-background-color: orange;
	-fx-border-color: orange;
	-fx-text-fill: white;
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,8) , 10,0,0,0 );
}
.botonlogin{
	-fx-font-family:"Alien League";
	-fx-font-size: 15px;
	-fx-background-color: orange;
	-fx-border-color: orange;
	-fx-text-fill: white;
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,8) , 10,0,0,0 );
}
.fuente1{
	-fx-font-family:"Blade Runner Movie Font";
}
.fuente2{
	-fx-font-family:"Alien League";
}
.fuente3{
	-fx-font-family:"Alien League";
	-fx-font-size: 30px;
}
.degradadoFondoTotal{	
	-fx-background: rgba(0,106,178,1);
	-fx-background: -moz-linear-gradient(left, rgba(0,106,178,1) 0%, rgba(240,47,23,1) 0%, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(0,106,178,1) 0%, rgba(95,185,245,1) 100%);
	-fx-background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,106,178,1)), color-stop(0%, rgba(240,47,23,1)), color-stop(0%, rgba(241,111,92,1)), color-stop(0%, rgba(246,41,12,1)), color-stop(0%, rgba(0,106,178,1)), color-stop(100%, rgba(95,185,245,1)));
	-fx-background: -webkit-linear-gradient(left, rgba(0,106,178,1) 0%, rgba(240,47,23,1) 0%, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(0,106,178,1) 0%, rgba(95,185,245,1) 100%);
	-fx-background: -o-linear-gradient(left, rgba(0,106,178,1) 0%, rgba(240,47,23,1) 0%, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(0,106,178,1) 0%, rgba(95,185,245,1) 100%);
	-fx-background: -ms-linear-gradient(left, rgba(0,106,178,1) 0%, rgba(240,47,23,1) 0%, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(0,106,178,1) 0%, rgba(95,185,245,1) 100%);
	-fx-background: linear-gradient(to right, rgba(0,106,178,1) 0%, rgba(240,47,23,1) 0%, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(0,106,178,1) 0%, rgba(95,185,245,1) 100%);
}
.degradadoCaja{
	-fx-background: rgba(0,0,0,0);
}
